<!DOCTYPE html>
<html>
<head>
	<title>Slide Deck</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div class="info-section">
		<div class="control-link">http://localhost:3000/controller</div>
		<a href="/slides"><div class="begin-button">Enter Slides</div></a>
	</div>
</body>
</html>