<!DOCTYPE html>
<html>
<head>
	<title>Slide Deck</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="slider-section">
		<div class="images">
			<img src="/img/1.png" data-id=1 />
			<img src="/img/2.png" data-id=2/>
			<img src="/img/3.png" data-id=3 />
			<img src="/img/4.png" data-id=4 />
			<img src="/img/5.png" data-id=5 />
			<img src="/img/6.png" data-id=6 />
		</div>
	</div>
</body>
</html>