<!DOCTYPE html>
<html>
<head>
	<title>Slide Deck</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="slider-section">
		<div class="images">
			<% images.forEach((image, i) => { %>
				<% let className = i == 0 ? "active" : "" %>
				<img src="<%= image %>" data-id="<%= i + 1 %>" class="<%= className %>" />
			<% }) %>
		</div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/slider.js"></script>
</body>
</html>