<!DOCTYPE html>
<html>
<head>
	<title>Slide Deck</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="slider-controller-section"></div>
	<script src="/js/hammer.min.js"></script>
	<script src="/js/slider.js"></script>
</body>
</html>